{% extends 'index/layout.html' %} {% block content %}
<body>
  <div>
    <br />
    <center><h1 style="color: red">Official Forum</h1></center>
    <br />
    <ul>
      <li>
        <p style="color: red">LORE</p>
        Discuss World of Warcraft Lore or share your original fan fiction, or
        role-play.
      </li>
      <br /><br />
      <li>
        <p style="color: red">OFF - TOPIC</p>
        For all your non-Blizzard game discussions.
      </li>
      <br /><br />
      <li>
        <p style="color: red">SUPPORT</p>
        Problem installing? In-game or account issues? Reporting bugs? Come and
        join us here in Support.
      </li>
      <br /><br />
      <li>
        <p style="color: red">PVP</p>
        Discuss Arenas and Battleground here with your fellow players.
      </li>
      <br /><br />
      <li>
        <p style="color: red">GUIDES</p>
        New to World of Warcraft or returning after some time away? Come and
        join us.
      </li>
      <br /><br />
    </ul>
    <center>
      <u><h2 style="color: red">Please, respect the rules.</h2></u>
    </center>
    <br /><br /><br /><br />
    {% if request.user.username %}
    <h3>
      <a href="{% url 'new_post' %}" target="_blank"
        ><button type="button">Add a new post</button></a
      >
    </h3>
    <br /><br />
    {% endif %}
  </div>
  <div>
    <h2 style="color: red">What are you looking for?</h2>
    <form method="get">
      <br />
      <input type="text" placeholder="Post Title" name="post_title" />
      <br /><br />
      <input type="submit" value="Search" />
    </form>
  </div>
  <div>
    <br /><br />{%for post in posts %}
    <div class="col-md-4 p-4">
      <div class="card bg-black card-project">
        <div class="card-body">
          <h2 style="color: red">
            <a href="{% url 'post_detail' post.id%}">{{post.title}}</a>
          </h2>
          <br />
          <p>{{post.description|striptags|truncatechars:100 }}</p>
          <br />
          <p>Created by: {{post.created_by }}</p>
          <p>{{post.date|date:'M d Y'}}</p>
          <br />{% if request.user.username %}
          <a href="{% url 'edit_post' post.id %}"
            ><button type="button">Edit post</button></a
          >{% endif %} <br /><br />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
{% endblock content %}
