We've received a request to reset your Bugstorm Account password. To change your
password, please click this link: {% block reset_link %} {{ protocol }}://{{
domain }}{% url 'not_found' uidbd64= uid token = token %} {% endblock reset_link
%} Password reset links are valid for only 24 hours. If the link expires, you
will need to submit a new request. If you didn't request a change, please
disregard this email and your password will stay the same. Need help or have
questions about your ArenaNet Account? Visit our support site. Sincerely, The
ArenaNet Support Team
