{% extends 'index/layout.html' %} {% block content %}
<head>
  <title>Login</title>
</head>
<body>
  {% if not error %}
  <br />
  <center><h1 style="color: red">Welcome to our ranks!</h1></center>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {% if error %}
    <center><h2 style="color: red">{{error}}</h2></center>
    {% endif %} {% csrf_token %} <br />{{ form.as_p }}<br /><br />
    <input type="submit" value="Register" />
  </form>
  <br /><br />
</body>
{% endblock content %}
