<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>Sobre mi:</h1>
    <h2>Proyecto final del curso de Python de Coderhouse</h2>
    <p>
      Mi nombre es Brahyam Leiva, soy un chico de 24 años. Soy venezolano, allí
      me gradué de secundaria y empecé a estudiar matemática pura en la
      Universidad Simón Bolívar, debido a la situación crítica del país en ese
      entonces, tuve que pausar mis estudios temporalmente, lo cual no me detuvo
      y me dejó tiempo para realizar un curso de inglés mientras trabajaba en un
      restaurante familiar.
    </p>

    <p>
      Al terminar el curso de inglés, a los 19 años emigré a Argentina buscando
      mejor calidad de vida, empecé trabajando en restaurantes aprovechando la
      experiencia que tenía mientras estudiaba en la UTN cursos de armado y
      reparación de computadoras, mi gran pasión, e introducción a la
      programación, un tema que siempre me llamó la atención pero que nunca me
      había metido de lleno. Ahí vi algo de C, pero en su mayoría trabajamos con
      cosas muy básicas de Java, luego de eso vino la pandemia del COVID y tuve
      que pausar nuevamente mis estudios.
    </p>

    <p>
      Meses más tardes, con un mejor puesto en el trabajo y con más estabilidad,
      decidí volver a entrar en el campo de la programación. Por la
      recomendación de un amigo, conocí CoderHouse y allí empece el curso de
      Python bastante motivado. Al principio todo fácil, ya tenía cierta
      experiencia y no estábamos viendo nada nuevo, luego si se puso interesante
      y me representó un desafío.
    </p>

    <p>
      Buscando ideas para el proyecto final, me topé con un template muy básico,
      con el que presentó la página y cuando lo vi las ideas comenzaron a fluir
      solas y supe que quería hacer un homenaje al juego al que le dediqué
      muchas horas compartiendo con amigos: World of Warcraft.
    </p>

    <p>
      Todo el proyecto, a excepción del template base que usa, fue hecho por mí.
      La verdad estoy muy contento con el resultado y ver lo lejos que he
      llegado y motivado a ver lo lejos que puedo llegar. Aún me queda mucho por
      aprender.
    </p>
  </body>
</html>
