<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Routes</title>
  </head>
  <body>
    <h1>Rutas del proyecto</h1>
    <ul>
      <li>
        <h2>Inicio: <a href="{% url 'index' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Error 404: <a href="{% url 'not_found' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>About: <a href="{% url 'about' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>New notice: <a href="{% url 'new_notice' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>
          Editar noticia(Seleccionar la noticia deseada
          desde el index. Debes estar logueado): <a href="{% url 'index' %}">Ver más</a>
        </h2>
        <li>
          <h2>Borrar noticia(Entrar en la noticia, editarla y presionar "delete notice" para borrar. Debes estar logueado) <a href="{% url 'index' %}">Ver más</a></h2>
        </li>
      </li>
      <li>
        <h2>Registrarse: <a href="{% url 'register' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Iniciar sesión: <a href="{% url 'login' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Editar perfil(Debes estar logueado): <a href="{% url 'profile' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Borrar cuenta(Debes estar logueado): <a href="{% url 'del_user' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Cerrar sesión: <a href="{% url 'logout' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Reset password: <a href="{% url 'password_reset' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Galería: <a href="{% url 'gallery' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Añadir imágen(Debes estar logueado): <a href="{% url 'add_image' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Cambiar imágen(Selecciona la imágen deseada desde la galería. Debes estar logueado): <a href="{% url 'gallery' %}">Ver másmás</a></h2>
      </li>
      <li>
        <h2>Borrar imágen(Al editar una imágen, presiona "Delete imagen" para borrarla. Debes estar logueado): <a href="{% url 'gallery' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Foro: <a href="{% url 'forum' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Añadir publicación: <a href="{% url 'new_post' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Editar publicación(Selecciona el post deseado desde el forum. Debes estar logueado): <a href="{% url 'forum' %}">Ver más</a></h2>
      </li>
      <li>
        <h2>Borrar publicación(Al editar una publicación, presiona "Delete post" para borrarla. Debes estar logueado): <a href="{% url 'forum' %}">Ver más</a></h2>
      </li>
    </ul>
  </body>
</html>
